*{
    box-sizing: border-box;
    margin: auto;
}
body.main-html{
    background-image: url(./images/pexels-yulia-ilina-9589799.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
h1{
    font-size: 5em;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 1.5em;
}
h2{
    font-size: 1.5em;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 4.75em;
    

}
ul.links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(179, 95, 47, 0.945);
  }
  li.recipe-list {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .nav-bar{
      position: relative;
      bottom:7.5em;
  }
body{
    background-color: rgb(231, 172, 95);
}

  .lasagna-heading{
      color: brown;
     
    
  }

.heading{
position: relative;
bottom: 5em;
}

  img{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50vw;
      height: 50vh;
      position: relative;
      top: 2.5em;
      border-radius: 15px;
      
  }
.p-lasagna{
    position:relative;
    top:7.5em;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;

}
h3.lasagna-ingrediants{
    color: brown;
    font-size: 25px;
}
.steps{
    color:brown;
    font-size: 25px;
}
